/* **************** UWO custom ***************** */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.uwo-div-center {  margin: 0 auto }
.uwo-top-nav {
  /* background: url("../img/top-nav-bg.jpg") top left repeat-x; */
  background-color: #444;
  height: 36px;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
}
.uwo-top-nav ul {
  padding-top: 10px;
  margin-top: 0;
}
.uwo-top-nav li {
  padding: 0 10px;
  /* border-right: 1px solid #FFF; */
}
.uwo-top-nav li:last-child {  border-right: none }
.uwo-top-nav li a {  color: #FFFFFF }
.uwo-hideme {  display: none }
#titanServicesLink {
  background-image: url("quicklinks-gradient.jpg");
  background-position: left top;
  background-repeat: repeat-x;
  float: right;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
#titanServicesLinks {
  background-color: #333;
  : ;
  border: 1px solid gray;
  display: none;
  left: 0;
  position: absolute;
  width: 150px;
  z-index: 300;
}
#titanServicesLinks li {
  background-image: none !important;
  float: none !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: left;
  border: none;
  display: block;
}
#titanServicesLinks li a:hover {  background-color: gray }
#titanServicesLinks li a {
  color: #FFFFFF;
  display: block;
  padding-left: 5px;
}
.uwo-inlineImg {  display: inline-block }
.uwo-audience-nav {
  background: url("../img/audience-bg.jpg") top left repeat-x;
  height: 60px;
}
.uwo-audience-nav li {  padding-right: 5px }
.uwo-logo {
  overflow: visible;
  z-index: 13;
}
/* table extension */
.uwo-dataTable th,
.uwo-dataTable td {  font-size: 93% }
.uwo-dataTable th {  color: #000 }
.uwo-dataTable td {  color: #999 }
/* **************** customizations ***************** */
html {  background: #D79A27 url("../img/background.jpeg") top center no-repeat }
.oo-page {  background-color: #EDECDA }
.oo-foot {  background-color: #ffffff }
/* I don't like the auto left spacing on content elements */
body { font-family: "Open Sans", Helvetica, sans-serif !important; }
.body h1,
h2,
h3,
h4,
h5,
h6,
p {  margin-left: 0 }
#tabs {
  width: 930px;
  margin: 10px;
}
.result {
  border-top: 1px solid #666;
  min-height: 22px;
}
#results .result:first-child {  border-top: none }
/* Drop Down Menu Togglers */
.toggle-nav, .toggle-nav2{
  box-sizing: border-box;
  padding: 15px;
  cursor: pointer;
  display: none;
}
/* **************** print styles ***************** */
@media print {
    * {
      background: transparent !important;
      color: black !important;
      text-shadow: none !important;
      filter: none !important;
      -ms-filter: none !important;
    }
    /* Black prints faster: sanbeiji.com/archives/953 */
    a,
    a:visited {
      color: #444 !important;
      text-decoration: underline;
    }
    abbr[title]:after {  content: " (" attr(title) ")" }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {  content: "" }
    /* Don't show links for images, or javascript/internal links */
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    thead {  display: table-header-group }
    /* css-discuss.incutio.com/wiki/Printing_Tables */
    tr,
    img,
    .result {  page-break-inside: avoid }
    img {  display: none }
}
/* **************** Responsive Web Design Styles **************** */
/* SmartPhones */
@media screen and (max-width: 414px){
  *{
    margin: 0;
    padding: 0;
  }
  /* Resizing nav height */
  .uwo-top-nav{
    height: 50px;
    width: 100%;
  }
  /* Logo Modification */
  img.uwo-logo{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -315px;
    margin-left: -85px;
    width: 166px;
  }
  /*Search Bar Modification */
  #google-searchbox{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -89px;
    margin-top: -363px;
    color: white;
  }
  .searchButton{
    color: black;
    border: 1px solid black;
    background: white;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
  }
  /* Title Modification */
  #title-bar{
    padding-top: 30px;
    text-align: center;
    font-size: 150%;
  }
  /* Top Nav */
  .oo-size1of1 ul, .oo-size1of1:active ul{
    border: 2px solid black;
    border-left: none;
    left: -10px;
    z-index: 1000;
  }
  .oo-size1of1 ul.oo-simpleHList{
    display: none;
  }
  .oo-size1of1 ul{
    position: absolute;
    background: #444;
  }
  .oo-size1of1 li{
    margin: 0 0 15px 0;
    font-size: 75%;
  }
  .oo-size1of1 a{
    display: inline-block;
    color: white;
  }
  .toggle-nav{
    border-right: 2px solid black;
  }
  #titanServicesLink ul, #titanServicesLink:active ul{
    border: 2px solid black;
    border-left: none;
    border-top: none;
    left: -10px;
    z-index: 1000;
    background: #444;
    font-size: 130%;
    width: 92px;
    padding-left: 25px;
  }
  a.services-link{
    padding-bottom: 10px;
  }
  .oo-size1of1 li{
    margin: 0 0 15px 0;
  }
  /*2nd Nav*/
  .uwo-audience-nav{
    width: 100%;
  }
  .uwo-audience-nav ul, .uwo-audience-nav:active ul{
    border: 2px solid black;
    border-right: none;
    top: 39px;
    right: -10px;
    z-index: 1000;
    padding-top: 8px;
  }
  .uwo-audience-nav ul.oo-simpleHFloatList{
    display: none;
  }
  .uwo-audience-nav ul{
    position: absolute;
    background: #444;
  }
  .uwo-audience-nav li{
    margin: 0 0 15px 0;
  }
  .toggle-nav2{
    float: right;
    border-left: 2px solid black;
  }
  a.simpleHFloatList{
    color: white;
    padding-left: 10px;
    padding-right: 15px;
  }
  /* Body/Content */
  .oo-page{
    border-left: none;
    border-right: none;
    width: 100%;
  }
  .oo-main{
    width: 100%;
  }
  #tabs{
    display: none;
    width: 95%;
    left: -5px;
  }
  .ui-tabs-nav{
    width: 99%;
    font-size: 50%;
  }
  #tab-search, #tab-info, #tab-printed, #tab-retired{
    width: 100%;
    font-size: 60%;
  }
  #q, .department{
    border: 1px solid black;
  }
  #results{
    width: 95%;
    display: block;
  }
  .oo-banb img{

  }
  /* Footer */
  .oo-size1of2{
    width: 50%;
    font-size: 70%;
  }
  .oo-size1of2 ul, .oo-lastUnit a{
    display: block;
  }
  .uwo-inlineImg{
    padding-top: 10px;
    padding-bottom: 50px;
  }
}
/* Ipads */
@media screen and (max-width: 1024px){

}
